{include="../_general/open"} 
{include="../_general/header"} {include="../_general/info"}


<section class="container-fluid text-left">
	<!--info_oldPlace-->		
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="public/img/icons/backend.png" class="image image-64 float-right"/>
				<h3>Bem vindo(a)</h3>
				<h2>{#APP_FULL_NAME#}</h2>
				<hr />
				<h1>Plataforma Administrativa</h1>
			</div>
		</div>		
		<div class="row">
			<div class="col-12">
				...
			</div>
		</div>
	</div>
</section>

{include="../_general/footer"}
{include="../_general/close"}

