{include="../_general/open"} {include="../_general/header"} 
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="../_general/section_top"} </div>
	<div class="container usuarios">
		<h2>Lista de Usuários</h2>
		<br />
		<a href="/admin/users/create" class='btn btn-success float-right'>Cadastrar Usuário</a>
		<br />
		<br />
		<table class="table">
			<thead class='thead-light'>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Login</th>
					<th scope="col">E-mail</th>
					<th scope="col">Administrador</th>
					<th scope="col" style="width:250px;">Opções</th>
				</tr>
			</thead>
			<tbody>
				{loop="$users"}
				<tr>
					<th scope="row">{$value->getid()}</th>
					<td style="text-align: left;">{$value->getname()}</td>
					<td>{$value->getlogin()}</td>
					<td>{$value->getemail()}</td>
					<td>{if="$value->checkProfile('admin') == TRUE"}Sim{else}Não{/if}</td>
					<td>
						<div class="row">
							<div class="col-4" style="text-align: center;">
								<a href="/admin/users/{$value->getid()}" class='btn btn-success btn-sm '>Visualizar</a>
							</div>
							<div class="col-4" style="text-align: center;">
								{if="$value->checkProfile('admin') == TRUE || $value->checkProfile('dev') == TRUE "}-{else}
								<a href="/admin/users/{$value->getid()}/edit" class='btn btn-warning btn-sm'>Editar</a>
								{/if}
							</div>
							<div class="col-4" style="text-align: center;">
								{if="$value->checkProfile('admin') == TRUE || $value->checkProfile('dev') == TRUE "}-{else}
								<a href="/admin/users/{$value->getid()}/delete" class='btn btn-danger btn-sm ' onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a>
								{/if}
							</div>
						</div>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</section>
<style>
.usuarios {
	border-bottom:solid 1px #aaa;
}

.usuarios th {
	text-align: center;
}

.usuarios td {
	text-align: center;
}
.usuarios td .btn{
	width:80px;
}
</style>
{include="../_general/footer"} {include="../_general/close"}
