{include="_general/open"} {include="_general/header/header"} 

<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="_general/_section_top"} </div>
	<div class="container">		
		<h1 class=''>Desenvolvimento</h1>		
		<br />
		<h2>CMS</h2>		
		<a class="btn btn-warning" href="/dev/development/cms/checkbasefiles">Verificar Arquivos Base</a>
		<br/>
		<small>Verificar a existência de modificações bem como arquivos novos entre as áreas de replicação do sistema CMS.</small>
		<br />		
		<br />		
		<br />		
		<br />		
		<br />		
				
	</div>
</section>

{include="_general/_footer/footer"} {include="_general/close"}
