########################################### NÃO IGNORAR OS ARQUIVOS
!_repository/.htaccess
!modules/xxx/
########################################### IGNORAR OS ARQUIVOS
.buildpath
.project
########################################### IGNORAR PASTAS E ARQUIVOS
.settings/
_cache/
vendor/
########################################### IGNORAR APENAS OS ARQUIVOS DAS PASTAS
modules/*
_cache/*
_logs/*
_repository/*
