@charset "UTF-8";

/* ################################################################################################################## GERAL */
/* ################################################################################################################## GERAL */
/* ################################################################################################################## GERAL */
html {
	background: #fff;
}

* {
	box-sizing: border-box;
	font-family: Verdana, Arial, Courier New;
}

body {
	margin: 0;
	padding: 0;
	background: none;
}

body * {
	
}

div {
	
}

h1, h2, h3, h4, h5 {
	
}

a {
	color: #050;
}

a:hover {
	color: #f00;
	text-shadow: 0px 1px 3px #ccc;
	text-decoration: none;
}

table {
	
}

form {
	
}

label {
	cursor: pointer;
}

/* ####################################### IMAGES */
/* ####################################### IMAGES */
/* ####################################### IMAGES */
.icon {
	
}

.icon.icon-16 {
	width: 16px;
}

.icon.icon-24 {
	width: 24px;
}

.icon.icon-32 {
	width: 32px;
}

.icon.icon-64 {
	width: 64px;
}

/*icones de links 'onMouseHouver' */
a .icon:hover {
	filter: invert(11%) sepia(100%) saturate(6146%) hue-rotate(3deg) brightness(99%) contrast(117%);
}

.image {
	margin: 0;
	padding: 0;
}

.image-48 {
	width: 48px;
}

.image-64 {
	width: 64px;
}

.image-128 {
	width: 128px;
}

/* ####################################### LISTAS */
/* ####################################### LISTAS */
/* ####################################### LISTAS */

/* ##################### UL */
/* ##################### UL */
/* ##################### UL */
ul.list {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.list li {
	margin-left: 0px;
	padding: 7px 14px 7px 14px;
}

ul.list.list-bordered li {
	border: solid 1px #dddddd;
}

ul.list.list-bordered-top li {
	border-top: solid 1px #dddddd;
}

ul.list.list-bordered-bottom li {
	border-bottom: solid 1px #dddddd;
}

ul.list.list-striped li:nth-of-type(odd) {
	background: #f5f5f5;
}

ul.list.list-striped li:nth-of-type(even) {
	background: #fefefe;
}

ul.list.list-hover li:hover {
	background: #f0f0f0;
}

/* ##################### OL */
/* ##################### OL */
/* ##################### OL */
ol.list {
	margin-top: 5px;
	margin-bottom: 10px;
}

ol.list li {
	padding: 7px 14px 7px 14px;
	border-radius: 3px;
}

ol.list.list-bordered li {
	border: solid 1px #dddddd;
}

ol.list.list-bordered-top li {
	border-top: solid 1px #dddddd;
}

ol.list.list-bordered-bottom li {
	border-bottom: solid 1px #dddddd;
}

ol.list.list-striped li:nth-of-type(odd) {
	background: #f5f5f5;
}

ol.list.list-striped li:nth-of-type(even) {
	background: #fefefe;
}

ol.list.list-hover li:hover {
	background: #f0f0f0;
}

/* ############################## THROWABLE MSGS */
/* ############################## THROWABLE MSGS */
/* ############################## THROWABLE MSGS */

div.throwable {
	padding:10px 20px;
	margin:10px 20px;	
}
div.throwable .title{
	font-weight: bold;	
}

div.throwable.Notice {
	color:#760;	
}

div.throwable.Warning {
	color:#730;
}

div.throwable.Exception {
	color:#700;
}

div.throwable.Error {
	color:#300;
}

/* ################################################################################################### REGIOES */
/* ################################################################################################### REGIOES */
/* ################################################################################################### REGIOES */

/* ################################################################################# COMUM */
header, nav, section, footer {
	border-bottom: solid 1px #f5f5f5;
	background: #fefefe;
	margin-bottom: 2px;
}

/* ######################################################### HEADER */
header {
	
}

header #title {
	
}

header #title h1 {
	
}

header #title h1 a {
	
}

header #user-menu {
	
}

header #user-menu #user_name {
	font-size: 14px;
}

header #platform-menu {
	
}

header #platform-menu a {
	
}

header #platform-menu a img {
	
}

/* ############################################################ NAV */
nav {
	
}

nav #main-menu {
	
}

nav #user-menu {
	
}

nav #user-menu a.back {
	
}

nav #user-menu a.login {
	
}

nav #user-menu a.logout {
	
}

nav #user-menu a.back img {
	
}

/* ########################################################### INFO */
div#info {
	
}

div#info #alert-area {
	
}

div#info #alert-area {
	padding-top: 20px;
}

div#info #alert-area a.toggle {
	position: absolute;
	margin: -17px 15px 0px 0px;
	right: 0;
	z-index: 999;
	font-size: 9px;
	color: #ccc;
}

div#info #alert-area a.toggle:hover {
	color: #555;
}

div#info #alert-area .alert {
	padding: 15px 15px 15px 20px;
	margin: 0px 0px 5px 0px;
	font-size: 12px;
}




/* ########################################################## MAIN */
section {
	min-height: 480px;
	padding: 0px 5px 20px 10px;
	margin: 0;
}

.container {
	
}

.container_large {
	padding: 0 5px;
}

/* ######################################################### FOOTER */
footer {
	
}

footer .content {
	padding: 20px 0px;
	font-size: 12px;
	line-height: 130%;
}

/* ######################################################################################################################## */
/* ######################################################################################################################## */
/* ######################################################################################################################## */

/* ################################################################################################### AJUDA INICIO >>> */
/* ################################################################################################### AJUDA INICIO >>> */
/* ################################################################################################### AJUDA INICIO >>> */

/* ############################################################################### IMAGENS */

/* ######## Alterar a cor da imagem (https://codepen.io/sosuke/pen/Pjoqqp) */
/* Ex.VERMELHO =>	filter: invert(11%) sepia(100%) saturate(6146%) hue-rotate(3deg) brightness(99%) contrast(117%); */

/* ###################################################################################################### AJUDA FIM <<< */
/* ###################################################################################################### AJUDA FIM <<< */
/* ###################################################################################################### AJUDA FIM <<< */