{include="_general/open"} {include="_general/header/header"}
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0">{include="_general/_section_top"}</div>
	<div class="container">
		<div class="row">
			<div class="col-6 alert alert-warning ml-3 mt-3">
				<h4 class="alert-heading">Esqueceu a sua senha?</h4>
				<br />
				<p>Digite seu e-mail para receber as instruções de redefinição de senha.</p>
				<div class="row">
					<div class="col-12">
						<form action="{$form_action}" method="post">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Digite o seu e-mail" name="email">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-warning">Enviar e-mail de Recuperação</button>
							</div>
						</form>	
					</div>
				</div>				
			</div>
			<div class="col-6"></div>
		</div>
	</div>
</section>
{include="_general/_footer/footer"} {include="_general/close"}
