{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	<!--info_oldPlace-->
	<div class="container">
		<div class="row">
			<div class="col-4 alert alert-success mt-3 pt-3 ml-3">
				<h4 class="alert-heading">Olá {$user->getname()},</h4>
				<h5 class="alert-heading">Preencha os dados abaixo para atualizar a sua senha.</h5>
				<br />
				<form action="/forgot/reset" method="post">
					<input type="hidden" name="code" value="{$code}">
					<div class='form-group'>
						<label for="password">Nova senha:</label>						
						<input type="password" name="password" id="password" class="form-control" style="width: 70%;" autofocus="autofocus" required="required">
					</div>
					<div class='form-group'>
						<label for="password2">Confirmar nova senha:</label>
						<input type="password" name="password2" id="password2" class="form-control" style="width: 70%;" required="required">
					</div>
					<div class='form-group mt-5 mb-4'>
						<input type="button" class="btn btn-success" onclick="verificarSenhas();" value="ATUALIZAR SENHA"/>
					</div>
				</form>
			</div>
			<div class="col-6"></div>
		</div>
	</div>
</section>
<script>
function verificarSenhas(){
	var p = $('#password'); 
	var p2 = $('#password2'); 
	if(p.val()!='' && p.val()==p2.val()){
		$('form').submit();				
	}else{
		if(p.val()==''){
			alert("A senha não pode ser vazia. \nTente novamente!");
		}else{
			alert("A confirmação de senha não confere com a nova senha. \nDigite novamente!");	
		}				
		p2.val('');
		p.val('').focus();
	}
}
</script>
{include="../_general/footer"} {include="../_general/close"}
