{include="../_general/open"} {include="../_general/header"} {include="../_general/nav"}
<section class="container-fluid text-left">
	{include="../_general/section_top"}
	<div class="container">
		<div class="row mt-3 mb-5">
			<div class="col-12">
				<div style="margin:20px 35%;">
				<form action="{#URL_ROOT#}login" method="post">
					<h2>Entrar</h2>
					<br />
					<label for="login">
						<b>Login:</b>
					</label>
					<input type="text" id="login" name="login" value="" class="form-control" required="required" autofocus="autofocus" placeholder="Digite o seu login...">
					<br />
					<label for="senha">
						<b>Senha:</b>
					</label>
					<input type="password" id="senha" name="password" value="" class="form-control" required="required" placeholder="Digite a sua senha...">
					<span class="lost_password">
						<a href="/forgot" title="Clique para saber como recuperar o seu acesso." class="float-right mt-2">Esqueceu a sua senha?</a>
					</span>
					<br />
					<br />
					<br />
					<input type="submit" value="Entrar" class="btn btn-success float-right">
					<br />
					<br />
					<br />
				</form>
				</div>
			</div>
		</div>
	</div>
</section>
{include="../_general/footer"} {include="../_general/close"}
