{include="_general/open"} {include="_general/header/header"} 
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="_general/_section_top"} </div>
	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 card p-4 pb-5" style="border-radius: 10px; box-shadow: 0px 5px 20px #aaa;">
				<h2>Cadastro</h2>
				<br />
				<form id="register-form-wrap" action="/register" method="post">
					<p>
						<label for="nome2">
							Nome
							<span class="required">*</span>
						</label>
						<input type="text" id="nome2" name="name" value="{$registerFormValues.name}" class="form-control" required="required">
					</p>
					<p>
						<label for="emai2l">
							E-mail
							<span class="required">*</span>
						</label>
						<input type="text" id="email2" name="email" value="{$registerFormValues.email}" class="form-control" required="required">
					</p>
					<p>
						<label for="phone2"> Telefone </label>
						<input type="text" id="phone2" name="phone" value="{$registerFormValues.phone}" class="form-control">
					</p>
					<p>
						<label for="senha2">
							Senha
							<span class="required">*</span>
						</label>
						<input type="password" id="senha2" name="password" required="required" class="form-control">
					</p>
					<div class="clear"></div>
					<br />
					<p>
						<input type="submit" value="Criar Conta" class="btn btn-warning">
					</p>
					<div class="clear"></div>
				</form>
			</div>
		</div>
	</div>
</section>
{include="_general/_footer/footer"} {include="_general/close"}
