{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section id="profiles">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<h2>Lista de Perfis</h2>
				<h4>(temporário - em desenvolvimento)</h4>

			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form method="post">
					<textarea id="profiles" name="profiles">{$profiles}</textarea>
					<br />
					<input type="submit" value="SALVAR" class="btn btn-success float-right">
				</form>
			</div>
		</div>
	</div>

</section>
<style>
#profiles {
	
}

#profiles textarea {
	width: 100%;
	padding: 10px;
	font-size: 12px;
	height: 200px;
	overflow: visible;
	font-family: monospace;
}
</style>
<script>
	$(document).ready(function() {

	});
</script>
{include="../_general/footer"} {include="../_general/close"}
