{include="../_general/open"} {include="../_general/header"} {include="../_general/info"} 
<section>
	<!--info_oldPlace-->
	<div class="container visualizar">
	
		<div class="row">
			<div class="col-12">
				<h2>Visualizar Usuário</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{$user}
			</div>			
		</div>
		
		
	</div>
	
</section>
<style>
.visualizar {
	
}

.visualizar .row {	
	padding: 5px 10px;
}

.visualizar .row .titulo {
	text-align: right;
}

.visualizar .row .valor {
	
}
</style>
{include="../_general/footer"} {include="../_general/close"}
