{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	<!--info_oldPlace-->
	<div class="container">
		<div class="row mt-2">
			<div class="col-12">
				<h1>Registros do Dia</h1>
				<h2><a href="{#APP_URL_ROOT#}dev/log/ano/{$ano}" style="color:#000; " title="Modificar Data">{$datashow}</a></h2>				
			</div>
		</div>
		<div class="row logs">
			<div class="col-12">
				<table class="table table-bordered table-striped table-hover table-condensed " data-sort-name="id" data-sort-order="asc" data-pagination="false" data-search="true" style="display: none;">
					<thead>
						<tr>
							<th scope="col" data-sortable="true" data-field="id">#</th>
							<th scope="col" data-sortable="true" data-field="DATE">Data</th>
							<th scope="col" data-sortable="true" data-field="SID">Session ID</th>
							<th scope="col" data-sortable="true" data-field="USERID">Usuário (ID)</th>
							<th scope="col" data-sortable="true" data-field="FILENAME">Arquivo</th>
						</tr>
					</thead>
					<tbody>
						{loop="$dayLogs"}						
						<tr scope="row">
							<td>{$key}</td>
							<td>{$value.DAY}/{$value.MONTH}/{$value.YEAR}</td>							
							<td>{$value.SID}</td>
							<td>{$value.USERID}</td>
							<td>
								<a href="{#APP_URL_ROOT#}{$value.FILENAME}" target="_blank"> {$value.FILENAME} </a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</section>
<style>
.logs table td.msg {
	font-size: 10px;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('div.logs table').bootstrapTable();

		$('div.logs table td.msg').css({
			'font-size' : '10px'
		});
		//show table
		$('div.logs table').slideDown(500);
	});
</script>
<style>
</style>
{include="../_general/footer"} {include="../_general/close"}
