{include="_general/open"} {include="_general/header/header"} 

<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="_general/_section_top"} </div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Ferramentas</h1>
				<h2>CRUD</h2>
				Ferramenta para gerar o CRUD (Create, Retrieve, Update e Delete) básico de algum modelo informado.					
			</div>
		</div>
		<div class="row mt-3">
			{loop="$model_array"}
			<div class="col-3 mb-4">
				<a href="/dev/tools/crud/{$key}" class="btn btn-primary">{$value}</a>
			</div>
			{/loop}
		</div>
	</div>
</section>

{include="_general/_footer/footer"} {include="_general/close"}
