{include="_general/open"} {include="_general/header/header"} 

<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="_general/_section_top"} </div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Ferramentas</h1>
				<br />				
				<br />
				<a href="/dev/tools/modules" class="btn btn-warning">Module Generator</a><br />
				<small>Ferramenta para gerar os arquivos necessários a um módulo (SITE ou ADMIN).</small>
				<br />
				<br />
				<br />
				<a href="/dev/tools/repository" class="btn btn-primary">Repository Manager</a><br />
				<small>Ferramenta para gerenciamento dos dados dos repositorios.</small>
				<br />
				<br />
				<br />
				<a href="/dev/tools/crud" class="btn btn-danger btn-sm">CRUD Generator (beta)</a><br />
				<small>Ferramenta para gerar o CRUD (Create, Retrieve, Update e Delete) básico de algum modelo informado.</small>
				<br />
				<br />
			</div>
		</div>				
	</div>
</section>

{include="_general/_footer/footer"} {include="_general/close"}
