{include="_general/open"} {include="_general/header/header"}
<section>
	<div class="container_large mt-0 mb-0 pt-0 pb-0">{include="_general/_section_top"}</div>
	<div class="container_large">
		<div class="row">
			<div class="col-12">
				<h1>Ferramentas</h1>
				<h2>Repository</h2>
				Ferramenta para gerenciamento dos dados dos repositorios.
			</div>
		</div>
		<hr />
	</div>
	<div class="container_large">
		{loop="$repository_array"}
		<form action="/dev/tools/repository/save" method="post">
			<div class="row mb-5" id="{$key}">
				<div class="col-12">
					<b>{$key}</b>
					<input type="hidden" name="tablename" value="{$key}"/>
					<table class="table table-bordered table-striped table-hover repository {$key}">
						<thead>
							<tr>
								{loop="$value.cols"}
								<th scope="col" class="text-center">{$value}</th>
								{/loop}
							</tr>
						</thead>
						<tbody>
							{loop="$value.rows"}							
							<tr>								
								{loop="$value1.cols"}																
								<td scope="row">
												
									{if="substr($value,-3,3)=='_id'"} 
									<select name="registros[{$key2}][{$value}]" class="form-control"/>
										<option value="">-</option>
										{loop="$db[$value]"}
										<option value="{$value.id}" {if="$value['id']==$value2[$value3]"} selected="selected" {/if}>{function="implode('-',$value)"}</option>
										{/loop}								
									</select>
									{else} 
									<input type="text" name="registros[{$key2}][{$value}]" class="form-control" value="{$value2[$value]}" {if=" $value=='id' && $value2[$value]==''"}  readonly="readonly" {/if}/>
									{/if}									
								</td>							
								{/loop}								
							</tr>
							{/loop}							
						</tbody>
					</table>
					<input type="submit" value="SALVAR" class="btn btn-sm btn-success float-right ml-2" />
					<a href="javascript:void(0);" onclick="addRow('{$key}',this)" class="btn btn-sm btn-warning float-right ml-2 " title="Adicionar linha">+</a>					
				</div>				
			</div>			
		</form>
		{/loop}		
	</div>
</section>
<script>
function addRow(tablename,btn){
	$(btn).hide();
	var table = $('table.'+tablename);
	table.find('tr').show();	
}
$(document).ready(function(){
	
	$('table.repository').each(function(){

		$(this).find('tr:last').hide();
		
		
		$(this).find('*').css({				
			'font-family':'Courier New'	
		});
		
		$(this).find('th,td').css({
			'padding':'0px',
			'font-size':'12px'	
		});
		
		$(this).find('td *').css({
			'padding':'2px 5px 3px 10px',			
			'font-size':'12px'	
		});
	});
	
	
		
});
</script>
{include="_general/_footer/footer"} {include="_general/close"}
