{include="../_general/open"} {include="../_general/header"} {include="../_general/info"} 

<section>
	<!--info_oldPlace-->
	<div class="container">
		<div class="row">
			
			<div class="col-12">
				<h1>Ferramentas</h1>
				<h2>Modulos</h2>
				Ferramenta para gerar os arquivos de um novo módulo a ser implementado para o SITE ou para o ADMIN.					
			</div>
			
		</div>
		<div class="row mt-5">
			<form method="post">
			<div class="col-5">
				Plataforma:
				<select name="platform" id="platform" class="form-control" required="required">
					<option value=""></option>
					<option value="site">SITE</option>
					<option value="admin">ADMIN</option>					
				</select>				
				<small>Local para inserção do módulo.</small>
				<br />
				<br />
				Nome base do novo módulo:
				<input type="text" id="modulename" name="modulename" class="form-control" required="required"/>
				<small>Primeiras letras de cada palavra em frase composta em maiúsculo, e sem caracteres especiais (acentos, coringas, etc.)</small>
				<br />
				<br />
				<input type="submit" value="Gerar" class="btn btn-warning"/>
			</div>
			</form>
		</div>
	</div>
</section>
<script>
$(document).ready(function(){
	$('#modulename').val('');
});
</script>
{include="../_general/footer"} {include="../_general/close"}
