{if="application\core\Access::checkUserLogged()"}
	
{/if}

{if="application\core\Access::checkUserLoggedDev()"}
	<!-- <a href='/dev' class='btn btn-light mr-3' title="Home">Home</a> -->	
	
	<!-- <a href='/dev/docs' class='btn btn-sm btn-light mr-1' title="Documentações para implementação do Sistema">Documentos</a>  -->			
	<!-- <a href='/dev/models' class='btn btn-sm btn-light mr-1' title="Modelos do Sistema">Modelos</a> -->	
	<!--<a href='/dev/repository' class='btn btn-sm btn-light mr-1' title="Repositórios do Sistema">Repositórios</a> -->		
	<a href='/dev/tools' class='btn btn-sm btn-light mr-1' title="Ferramentas de suporte ao Desenvolvimento">Ferramentas</a>

	<a href='/dev/users' class='btn btn-sm btn-light mr-1' title="Usuários do Sistema">Usuários</a>
	<a href='/dev/modules' class='btn btn-sm btn-light mr-1' title="Módulos Externos do Sistema">Módulos</a>
	<!-- <a href='/dev/log' class='btn btn-sm btn-light mr-1' title="Registros de acesso ao Sistema">Registros</a> -->	
	<a href='/dev/sync' class='btn btn-sm btn-warning mr-1' title="Sincronização de arquivos da Base com os da Produção e vice-versa.">Produção x Base (Sincronização)</a>
	<a href='/dev/manutencao' class='btn btn-sm btn-danger mr-1' title="Controle de Acesso - MANUTENÇÃO">Manutenção</a>
		
{/if}
