
<div id="modelagem">


	<div class="tela" id="pagina-uast">
		www.uast.ufrpe.br
		<br />
		<br />
		<br />
		SERVIÇOS
		<br />
		<a href="#form" class="">Formulário de Solicitação de acesso.</a>

	</div>

	<div class="tela" id="form">
		FORMULÁRIO - Solicitação de acesso à Unidade
		<br />
		<br />
		Nome: ____________________________________________________
		<br />
		<br />
		E-mail: __________________________________________________
		<br />
		<br />
		Categoria: () Docente () Técnico
		<br />
		<br />
		Motivo: __________________________________________________
		<br />
		__________________________________________________________
		<br />
		__________________________________________________________
		<br />
		<br />
		Bloco/Sala alvo: ________________________________
		<br />
		<br />
		Data: ____/____/_______ Entrada: __:__ Saída: __:__
		<br />
		<br />
		<br />
		[SOLICITAR ACESSO]
	</div>

</div>



<style>
#modelagem {
	margin-top: 0px;
	margin-bottom: 100px;
}

#modelagem * {
	font-family: monospace;
}
.tela {
	border-top: solid 20px #fff;
	box-shadow:0px 10px 5px #aaa;
	padding: 10px 20px 30px 20px;
	margin-top: 10px;
	margin-bottom: 1200px;
	border-radius: 10px;
}

</style>