{include="../_general/open"} 
{include="../_general/header"} {include="../_general/info"}


<section class="container-fluid text-left">
	<!--info_oldPlace-->		
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="public/img/icons/devend.png" class="image image-64 float-right"/>
				<h3>Bem vindo(a)</h3>
				<h2>{#APP_FULL_NAME#}</h2>
				<hr />
				<h1>Plataforma de Desenvolvimento</h1>
				<br/>
			</div>
		</div>		
		<div class="row">
			<div class="col-12">
				<h5>Ferramentas</h5>				
				<a href="{#APP_URL_ROOT#}dev/models/initialize" class="btn btn-sm btn-warning">Modelos - Inicialização de Repositórios</a>
			</div>
		</div>
	</div>
</section>

{include="../_general/footer"}
{include="../_general/close"}

