{include="_general/open"} {include="_general/header/header"}
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0">{include="_general/_section_top"}</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Manutenção</h1>
				<h3>Módulo de Controle</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{if="sizeof($manutencao)>0"}
				<table class="table table-bordered table-striped table-hover">
					<tr>
						<th class="text-left">DESCRIÇÃO</th>
						<th class="text-center">OPÇÕES</th>
					</tr>
					{loop="$manutencao"}
					<tr>
						<td scope="row">{$value->getMotivo()}</td>
						<td scope="row" class="text-center">
							<form action="/dev/manutencao" method="post">
								<input type="hidden" id="id" name="id" value="{$value->getId()}" />
								<input type="submit" value="DESATIVAR" class="btn btn-sm btn-outline-danger" />
							</form>
						</td>
					</tr>
					{/loop}
				</table>
				<br />
				<br />
				<br />
				<br />
				{else}
					<h5>Sem manutenções ativas no momento.</h5>
				{/if}
				
				<h4 class="float-right" style="clear: both;">Ativar nova Manutenção?</h4>
				<!-- <h5 class="float-right" style="clear: both;">Motivo:</h5> -->
				<form action="/dev/manutencao" method="post">
					<textarea name="motivo" id="motivo" rows="5" class="form-control text-right">Manutenção Preventiva (MP) de rotina
					{function="date('d/m/Y H:i:s')"}</textarea>
					<br />
					<input type="submit" value="ATIVAR MÓDULO DE MANUTENÇÃO" class="btn btn-warning float-right" />
				</form>
			</div>
		</div>
	</div>
</section>
{include="_general/_footer/footer"} {include="_general/close"}
