{include="_general/open"} {include="_general/header/header"}
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0">{include="_general/_section_top"}</div>
	<div class="container">
		<div class="row" style='border-bottom: dotted 1px #ddd;'>
			<div class="col-12">
				<h1>Modelos</h1>
			</div>
		</div>
		<div class="row p-2 pt-4 pb-4 mb-4" style='border-bottom: dotted 1px #ddd;'>
		 	<div class="col-12">		 		
		 		<a href="/dev/models/initialize" class="btn btn-sm btn-primary">Inicializar/Atualizar</a>
		 		<br />
		 		<small>Inicializar e/ou atualizar os repositórios dos módulos do sistema.</small>		 		
		 	</div>
		</div>
		
		
	</div>
	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ modelos -->
	<div class="container modelos pl-5">
		<h2 style="font-size: 32px;">Modelos do sistema</h2>		
		<div class="row">
			<div class="col-12 text-right">
				<a id='botao-todos' href="javascript:toggleFuncoesTodas('botao-todos')" title="Exibir todas as funcões adicionais dos objetos" class='botao'>+</a>
			</div>
		</div>
		{loop="$models"}
		<!-- ###################################################################################################################################################################################################### modelo -->		
		
		<div class="modelo" bgcolor='#{function="dechex(rand(100,255))"}aa00' id="{function="strtolower($key)"}" >
			<div class="row">
				<div class="col">
					<span class='{$key} nome'>{$key}</span>	
				</div>
			</div>
			
			<!-- ========================================================================================================================================================================= parametros -->	
			{if="sizeof($value['parametros'])>0"}			
			<div class="row">				
				<div class="col-12 parametros">
					{loop="$value['parametros']"}
					<!-- --------------------------------------------------------------------------------------------------------------------------------------------------- parametro -->
					<div class="parametro">					
						<span class="nome {if="$value.reference!=''"}reference{/if}" {if="$value.reference!=''"}reference="{$value.reference}"{/if}>						
							{$key}													
						</span>
						{if="trim($value['padrao'])!=''"}<span class="padrao">{$value['padrao']}</span>{/if}
						{if="$value['comentario']!=''"}<span class="comentario">{$value['comentario']}</span>{/if}						
					</div>
					{/loop}
				</div>
			</div>
			{/if}
			
			<!-- ========================================================================================================================================================================= funcoes -->
			{if="sizeof($value['funcao_adicional'])>0"}
			<div class="row mt-5">				
				<div class="col-12 funcoes funcoes-{$key}" style="display: none;">
					{loop="$value['funcao_adicional']"}
					<!-- --------------------------------------------------------------------------------------------------------------------------------------------- funcao -->
					<div class='funcao text-right' >						
						<span class='nome {$key}'>{$key}</span>(<span class="argumentos">{$value.argumentos}</span>)
					</div>
					{/loop}
				</div>	
				<div class="col-12 text-right">
					<a id='botao-{$key}' href="javascript:toggleFuncoes('botao-{$key}')" selector='.funcoes-{$key}' title="Exibir funcões adicionais do objeto" class='botao botao-funcao'>+</a>
				</div>
			</div>		
			{/if}						
		</div>
		{/loop}				
	</div>
</section>
<style>
.modelos {
	height: 2000px;
}

.modelos * {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.modelos .modelo {
	margin: 0px 15px 20px 0px;
	padding: 5px 5px 10px 5px;
	border: solid 1px #000;
	border-radius: 4px;
	float: left;
	min-height: 100px;
	min-width: 300px;
}

.modelos .modelo .row .col .nome {
	float: left;
	clear: both;
	font-size: 14px;
	margin-bottom: 10px;
}
/********************************************************************/
.botao {
	border-radius: 15px;	
	text-align: center;
	color: #aaa;
	border: solid 1px #aaa;
	padding:2px 7px;
}

.botao:hover {
	color: #f00;
	border: solid 1px #f00;	
}
/********************************************************************/
.modelos .modelo .parametros {
	
}

.modelos .modelo .parametros .parametro {
	float: left;
	clear: both;
	margin-bottom: 5px;
}

.modelos .modelo .parametros .parametro span {
	white-space: nowrap;
	padding: 0px 5px 2px 5px;
}

.modelos .modelo .parametros .parametro .nome {
	
}

.modelos .modelo .parametros .parametro .nome.reference {
	border-radius: 2px;
	text-decoration: underline;
	border:solid 1px #000;
}

.modelos .modelo .parametros .parametro .padrao {
	font-size: 10px;
	border-left: solid 1px #aaa;
	margin-left: 0px;
	padding-left: 5px;
	color: #a00;
}

.modelos .modelo .parametros .parametro .comentario {
	font-size: 10px;
	border-left: solid 1px #aaa;
	margin-left: 0px;
	padding-left: 5px;
	color: #0a0;
	font-style: italic;
}
/********************************************************************/
.modelos .modelo .funcoes {
	
}

.modelos .modelo .funcoes .funcao {
	float: left;
	clear: both;
	margin-bottom: 5px;
}

.modelos .modelo .funcoes .funcao span {
	white-space: nowrap;
	padding: 0px 5px 2px 5px;
}



.modelos .modelo .funcoes .funcao {
	
}

.modelos .modelo .funcoes .funcao .nome {
	
}

.modelos .modelo .funcoes .funcao .argumentos {
	
}
</style>
<script>


	function toggleFuncoesTodas(botao_id) {

		var link = $("#" + botao_id);
		

		if (link.html() == '+') {
			link.html('-');
			link.prop('title', 'Ocultar todas as funcões adicionais dos objetos');
			var action = '-';
		} else {
			link.html('+');
			link.prop('title', 'Exibir todas as funcões adicionais dos objetos');
			var action = '+';
		}
		$('.botao-funcao').each(function(){
			var botao = $(this);
			var botao_id = botao.prop('id');
			var botao_selector = botao.attr('selector');
			
			var botao_html = botao.html();
			if(botao.html()!=action){
				toggleFuncoes(botao_id,botao_selector);
			}
		});
	}
	function toggleFuncoes(botao_id) {

		var link = $("#" + botao_id);
		var selector = link.attr('selector');
		//log(selector);

		if (link.html() == '+') {
			link.html('-');
			link.prop('title', 'Ocultar funcões adicionais do objeto');
		} else {
			link.html('+');
			link.prop('title', 'Exibir funcões adicionais do objeto');
		}
		$(selector).toggle();
	}
	function referenceShow() {
		$('.reference').each(function() {

			var parametros = $(this);

			var selector = parametros.attr('reference');
			//log(selector);
			var ref = '#' + selector;
			//log(ref);
			var mod = $(ref);
			var bgc = mod.attr('bgcolor');
			//log(bgc);
			var cssNew = {
				'background' : bgc
			};
			mod.css(cssNew);
			parametros.css(cssNew);
		});
	}

	$(document).ready(function() {
		referenceShow();
	});
	
	
	
</script>
{include="_general/_footer/footer"} {include="_general/close"}
