{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Módulos & Controle de Acesso</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="/dev/modules" method="post">
					<table class="modules table table-bordered table-striped table-hover">
						<tr>
							<th scope="col" class="user">Usuários</th>
							{loop="$modules"}
							<th scope="col" class="text-center" title="{$value}">								
								{function="strtoupper($value)"}								
							</th>
							{/loop}							
						</tr>
						{loop="$users"}
						<tr>
							<td scope="row" class='user'>{$value->getName()}</td>
							{loop="$modules"}
							<td scope="row" class="text-center">
								{loop="$profiles"}
								<label for="{$key1}___{$value2}___{$value->getKey()}" style="width: 30%;">
								<div class="perfil {$value->getKey()} {if="$value1->checkProfile($value->getKey())"} on {else} off {/if}" title="Clique para ativar/desativar perfil de {$value->getName()}">
									<input id="{$key1}___{$value2}___{$value->getKey()}" type="checkbox" {if="$value1->checkProfile($value->getKey())"} checked="checked" {/if}/>
									{$value->getName()}{$value->getObs()}									
								</div>
								</label>
								{/loop}
							</th>
							{/loop}
						</tr>
						{/loop}
						
					</table>
				</form>
			</div>
		</div>
	</div> 
</section>
<style>
.modules{
}

.modules th{
 	vertical-align: middle;
}
.modules th a{
 	font-weight: bold;
 	text-shadow: 1px 0px 3px #aaa;
}
.modules .user{
	text-align: center;
	font-weight: bold;
}
.perfil {
	padding:5px 15px;
	border-radius:5px;
	margin:0px 5px 0px 5px;	
	text-align: center;	
}
.perfil.usuario {
	color:#0e0;	
}
.perfil.admin {
	color:#ee0;	
}
.perfil.dev {
	color:#e00;	
}

.perfil.on{
	text-shadow:0 0 0 #000{function="str_repeat(',1px 1px 2px #111',10)"}; 
	font-weight: bold;	
}

.perfil.off{
	text-decoration: line-through;
	color:#aaa;
}

.perfil input {
	margin-right: 10px;
	border: solid 1px #000;
	display: none;
}
</style>
<script>
	$(document).ready(function() {
		$('.perfil input').change(function() {
			var input = $(this);
			var checked = input.is(':checked');
			var key = input.prop('id');
			if(checked){
				document.location = '{#APP_ROOT_PATH#}dev/modules/set/'+key;
			}else{
				document.location = '{#APP_ROOT_PATH#}dev/modules/unset/'+key;
			}
		});
	});
</script>
{include="../_general/footer"} {include="../_general/close"}
