{include="../_general/open"} 
{include="../_general/info"}


<section class="container-fluid text-left">
			
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="public/img/icons/devend.png" class="image image-64 float-right"/>
				<h1>Plataforma de Desenvolvimento - SETUP</h1>
				<hr />
				<a href="{#APP_URL_ROOT#}" class="btn btn-sm btn-outline-success float-right">FRONT-END</a>
				<br/>
			</div>
		</div>		
		<div class="row">
			<div class="col-12 ">
				<h3>Ferramentas</h3>
				<br/>			
				<b>Inicialização dos Repositórios</b><br/>
				<sup>Cadastro de registros padrão informados</sup><br/>
				<a href="{#APP_URL_ROOT#}setup/models/init" class="btn btn-sm btn-danger pl-3 pr-3" title="INICIAR">></a>
			</div>
		</div>
	</div>
</section>


{include="../_general/close"}
