{include="../_general/open"} 
{include="../_general/info"}


<section class="container-fluid text-left">
			
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="public/img/icons/devend.png" class="image image-64 float-right"/>
				<h1>Plataforma de Desenvolvimento - SETUP</h1>
				<hr />
				<br/>
			</div>
		</div>		
		<div class="row">
			<div class="col-12">
				<h3>Ferramentas</h3>
				<br/>			
				<a href="{#APP_URL_ROOT#}setup/models/init" class="btn btn-sm btn-warning">Modelos - Inicialização de Repositórios</a>
			</div>
		</div>
	</div>
</section>


{include="../_general/close"}
