
<div class="container" style="background-image: linear-gradient(to bottom, #fafafa, #dadada); border-radius:20px; padding:20px 30px 40px 30px;">
	<div class="row">
		<div class="col-12">
			<h2>{#APP_SHORT_NAME#}</h2>
			<h3>Solicitação de Recuperação de Senha</h3>
			<hr />
		</div>
	</div>
	<div class="row">		
		<div class="col-12 pl-3" >
			<br />
			Prezado(a) {$user->getName()},
			<br />
			<br />
			O sistema <b>{#APP_SHORT_NAME#}</b> (<a href="{#APP_URL#}">{#APP_URL#}</a>) recebeu uma solicitação de <b>RECUPERAÇÃO de SENHA</b> para o usuário: "{$user->getLogin()}".
			<br />
			<br />
			Caso tenha sido você, clique no link abaixo nos próximos <b>{$deadline} minutos</b>:
			<br />
			<br />
			<a href="{$link}">{$link}</a>
			<br />
			<br />			
			Caso desconheça a solicitação, por favor desconsidere esta mensagem.
			<br />
			<br />
			Obrigado!
			<br />
			{#APP_FULL_NAME#}
			<br />
			<a href="mailto:{#APP_EMAIL#}">{#APP_EMAIL#}</a>
			<br />
			<br />
			<br />
		</div>
	</div>
</div>