<style type="text/css">
#sync {
	font-size: 12px;
}

#sync table th {
	text-align: center;
	padding: 3px 10px;
	vertical-align: middle;
}
/************************************* opcoes */
#filtros {
	
}

#filtros * {
	margin: 0;
	padding: 0;
}

#filtros .btn {
	background: #ff0;
	border: solid 0px #ddd;
	border-radius: 5px;
	padding: 3px 10px;
	cursor: pointer;
	font-size: 12px;
	margin: 10px 5px 15px 0px;
	border: solid 1px #000;
	box-shadow: 0px 4px 10px #555;
	opacity: 1;
}

#filtros .btn:hover {
	box-shadow: 0px 4px 10px #000;
}

#filtros .btn.off:hover {
	box-shadow: 0px 4px 10px #000;
	opacity: 1.0;
	text-decoration: none;
}

#filtros .off {
	background: #fff;
	color: #aaa;
	text-decoration: line-through;
	box-shadow: 0px 0px 0px #fff;
	border: none;
	opacity: 0.1;
}
/***********************************************/
#sync table tr.linha {
	cursor: pointer;
}
/********************************************** status linhas*/
/********************************************** status linhas*/
/********************************************** status linhas*/
/********************************************** status linhas*/
/********************************************** status linhas*/
/********************************************** status linhas*/
#sync .novo {
	background: linear-gradient(to bottom, #0f0, #0a0);
}

#sync .existente {
	background: linear-gradient(to bottom, #ff0, #cc0);
}

#sync .identico {
	background: linear-gradient(to bottom, #0fa, #0ca);
}

#sync .diferente {
	background: linear-gradient(to bottom, #ff0, #cc0);
}

#sync .implementacao {
	background: linear-gradient(to bottom, #0ff, #0cc);
}

#sync tr.critico, #sync div[align=critico] {
	background: linear-gradient(to bottom, #f00, #a00);
	color: #fff;
}

/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/

/********************************************** td */
#sync table tr td {
	padding: 2px 8px;
	vertical-align: top;
}

/*********************************************** a (analisar link) */
#sync table tr td a {
	color: #fff;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0
		2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0
		2px #000, 0 0 2px #000; border-radius : 10px;
	padding: 3px 10px 3px 10px;
	border-radius: 10px;
}

#sync table tr td a:hover {
	color: #fa0;
	text-decoration: underline;
}

/********************************************** opcoes*/ 
td.opcoes {
	margin: 0;
	padding: 0;
}

td.opcoes table {
	margin: 0px;
	width: 100%;
	border: none;
}

td.opcoes table td {
	border: none;
	text-align: right;
}

td.opcoes table td.msg {
	
}

td.opcoes table td.analisys-btn {	
	width: 150px;
}

td.opcoes table td.select {
	width: 250px;
}

td.opcoes table select {
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

td.opcoes table select option {
	border-radius: 10px;
}
</style>