{include="_general/open"} {include="_general/header/header"} 
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0"> {include="_general/_section_top"} </div>
	<div class="container">
		<h1 class=''>Sincronização</h1>
		<small>Processo de sincronização dos arquivos de produção e da base (CMS).</small>
		<!-- <a class="btn btn-warning" href="/dev/sync/cms/checkbasefiles">ANALISE COMPARATIVA</a>  -->
		<br />
		<br />
		<a class="btn btn-warning" href="/dev/sync/go">INICIAR PROCESSO</a>
		<br />
		<br />
		<br />
		<br />
	</div>
</section>
{include="_general/_footer/footer"} {include="_general/close"}
