{include="../_general/open"} {include="../_general/header"} {include="../_general/info"} 
<section>
	
	<div class="container">
		<h1 class=''>Sincronização</h1>
		<small>Processo de sincronização dos arquivos de produção e da base (CMS).</small>
		<!-- <a class="btn btn-warning" href="{#APP_URL_ROOT#}dev/sync/cms/checkbasefiles">ANALISE COMPARATIVA</a>  -->
		<br />
		<br />
		<a class="btn btn-warning" href="{#APP_URL_ROOT#}dev/sync/go">INICIAR PROCESSO</a>
		<br />
		<br />
		<br />
		<br />
	</div>
</section>
{include="../_general/footer"} {include="../_general/close"}
