{include="../_general/open"}{include="../_general/header"} {include="../_general/info"}
<section>
	
	<div class="container_large">
		<div class="row">
			<div class="col-12">
				<h1>Sync Files</h1>
				<h2>Verificação dos arquivos envolvidos</h2>
			</div>
		</div>
		<form method="post">
		<div class="row">
			<div class="col-12 mb-3 mt-3">
				<a href="{#APP_URL_ROOT#}dev/sync/go" class="btn btn-outline-success float-right">Comparar</a>
				<input type="submit" value="Atualizar" class="btn btn-outline-danger float-left"/>
			</div>
		</div>		
		<div class="row">
			<div class="col-12">
				
				
				<textarea name="code" id="code">
<?php 
namespace application\libraries\cms\dev; 

class CMSSyncInfo 
{ 

	// ######################################################################################################################################### 
	// PASTAS OU ARQUIVOS DA ESTRUTURA DO CMS 
	// 'critic' => precisam estar sempre iguais com a base
	// 'generic' => resultado de modificacoes implementacionais
	// 'trash' => arquivos temporarios ou dispensaveis 
	// #########################################################################################################################################
	const cmsFileInfo_array = [
	{loop="$alls"}
//{$key} 
	{loop="$value"}
'{$value.file}' => '{$value.type}',  
	{/loop}		
	{/loop}	
	//=============================================================== cache >  
	'cache' => 'trash'
	];				
	
} 

?></textarea>	
			</div>
		</div>		
		</form>		
	</div>  
</section>
<style type="text/css">
#code {
	border:solid 1px #aaa;
	border-radius:10px;
	padding:15px;
	color:#000;
	font-size:12px;
	font-family:Courier New;
	width: 100%;
	/*height:{function="round(sizeof($alls)*180*2,0)"}px;*/
	height:500px;
}
#code .in{
	color:#000;
	background: #0f0;
}
#code .out{
	color:#777;
}

</style>
<script>
	$(document).ready(function() {

	});
</script>
{include="../_general/footer"} {include="../_general/close"}
