<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{#APP_TITLE#}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!------------------------------------------------------------------------------------- css -->
<link rel="icon" href="{#URL_ROOT#}public/img/icons/favicon.png" type="image/png" sizes="16x16" />
<link rel="stylesheet" href="{#URL_ROOT#}public/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{#URL_ROOT#}public/css/bootstrap/table/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="{#URL_ROOT#}public/css/lib.css" />
<link rel="stylesheet" type="text/css" href="{#URL_ROOT#}public/css/style.css" />
<link rel="stylesheet" type="text/css" href="{#URL_ROOT#}public/css/print.css" media="print" />
<!------------------------------------------------------------------------------ javascript -->
<script src="{#URL_ROOT#}public/js/jquery/jquery-3.5.0.js"></script>
<script src="{#URL_ROOT#}public/js/popper/popper.min.js"></script>
<script src="{#URL_ROOT#}public/js/bootstrap/bootstrap.min.js"></script>
<script src="{#URL_ROOT#}public/js/bootstrap/table/bootstrap-table.min.js"></script>
<script src="{#URL_ROOT#}public/js/bootstrap/table/bootstrap-table-pt-BR.min.js"></script>
<script src="{#URL_ROOT#}public/js/001_lib.js"></script>
<script src="{#URL_ROOT#}public/js/002_lib_form.js"></script>
<script src="{#URL_ROOT#}public/js/010_scripts.js"></script>
<script src="{#URL_ROOT#}public/js/011_scripts_process_results.js"></script>
<script src="{#URL_ROOT#}public/js/020_ready.js"></script>
</head>
<!----------------------------------------------------------------------------------- html -->
<body>