<div class="container" style="border: none;">
	<div class="row">
		<div class="col-12" style="display: none;">
			<div id="alert-area"></div>
		</div>
		<div class="col-12">
			<div id="process-result-area">
				{if="sizeof(manguto\cms7\libraries\Alert::GET())>0"}
				<a href='javascript:void(0)' title='Exibir/Ocultar mensagens apresentadas.' class="toggle">Exibir/Ocultar Mensagens</a>
				{loop="manguto\cms7\libraries\Alert::GET(true)"}
				<div class="process-result {$value['row_class']} mb-0 mt-0">
					<div class="alert mb-1 {$value['col_class']}">{$value['msg']}</div>
				</div>
				{/loop} {/if}
			</div>
		</div>
	</div>
</div>