{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	<!--info_oldPlace-->
	<div class="container">
		<div class="row mb-4">
			<div class="col-12">
				<a href="{#APP_URL_ROOT#}dev/repository" title="Clique para visualizar os repositórios do sistema." class="clean"><h1>Repositório do Sistema</h1></a>
				<h2>{$repositoryNameShow} </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/0/edit" class="float-right btn btn-sm btn-outline-primary" title="Clique para cadastrar um novo registro">CADASTRAR</a>
				<br />
				<br />
				<form method="post">
				<table class='list'>
					<thead>
						<tr>
							{loop="$cols"}
							<th scope="col" data-sortable="true" data-field="{$value.name}" class="tipo">{$value.nameShow}</th>
							{/loop}							
						</tr>
					</thead>
					<tbody>
						{loop="$registers"}
						<tr scope="row">
							{loop="$value"}
							<td>
								<input type="text" name="{$key}" value="{$value}" class="form-control"/>
							</td>
							{/loop}							
						</tr>
						{/loop}
					</tbody>
				</table>
				</form>
				<br />
				<!-- <input type="button" onclick="" value="SALVAR" class="btn btn-outline-success float-right" /> -->
				<br />
				<br />
				<br />
			</div>
</section>
<style>
table.list{
 	border-collapse: collapse;
 	width: 100%;
}
table.list th,td{
	
	border:solid 1px #000;
}
table.list th{
	padding: 2px 15px;
	font-size:12px;
	font-weight:normal;
	text-align: center;
	background: #777;
	color:#fff;	
}
table.list td{
	padding: 0px 0px;
}
table.list td input{
	width:100%;
	height:100%;
	border:none;
	padding: 2px 5px;
}


</style>
<script>
	$(document).ready(function() {
		var table = $('table.list');
		
		table.find('input').change(function(){
			$(this).css({
				'color':'#c00',	
				'background':'#fea',	
			});
		});
		
		
	});
</script>
{include="../_general/footer"} {include="../_general/close"}
