{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	
	<div class="container">
		<div class="row mb-4">
			<div class="col-12">
				<h1>Repositório do Sistema</h1>
			</div>
		</div>
		<div class="row">
			{loop="$repositorios"}
			<div class="col-3 modelo">
				<b>{$value.show}</b>
				<hr />
				<a href="{#APP_URL_ROOT#}dev/repository/{$key}" class="btn btn-sm btn-outline-danger" target="_blank">Gerenciar</a>
				<a href="{#APP_URL_ROOT#}dev/repository/sheet/{$key}" class="btn btn-sm btn-outline-success" target="_blank">Visualizar</a>
			</div>
			{/loop}
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</section>
<style>
.modelo {
	box-shadow: 0px 4px 8px #aaa;
	padding: 20px 20px 30px 20px;
	margin: 10px 5px 20px 10px;
	border-radius: 5px;
	border: solid 1px #fff;
	cursor: pointer;
	font-size: 16px;
}

.modelo:hover {
	border-color: #fdd;
	box-shadow: 0px 4px 8px #888;
}

.modelo hr {
	margin: 5px 0px 15px 0px;
}

.modelo .btn {
	margin: 0px 0px 5px 0px;
}
</style>
{include="../_general/footer"} {include="../_general/close"}
