{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	
	<div class="container_large">
		<div class="row mb-4">
			<div class="col-12">
				<a href="{#APP_URL_ROOT#}dev/repository" title="Clique para visualizar os repositórios do sistema." class="clean"><h1>Repositório do Sistema</h1></a>
				<h2>{$repositoryNameShow}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/0/edit" class="btn btn-outline-success float-right" title="Clique para cadastrar um novo registro">CADASTRAR</a>
				<br />
				<br />
				<table class="table table-bordered table-striped table-hover" data-sort-name="id" data-sort-order="asc" data-pagination="true" data-search="true">
					<thead>
						<tr>
							{loop="$cols"}
							<th scope="col" data-sortable="true" data-field="{$value.name}" class="tipo">{$value.nameShow}</th>
							{/loop}
							<th scope="col" data-sortable="false" class="text-center">OPÇÕES</th>
						</tr>
					</thead>
					<tbody>
						{loop="$registers"}
						<tr scope="row">
							{loop="$value"}
							<td title='{$key}'>
							{autoescape="off"}							
							{$value}
							{/autoescape}
							</td>
							{/loop}
							<td class="text-center">
								<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/{$key}/view" class="btn btn-outline-dark btn-sm ml-1 mb-2">Visualizar</a>
								<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/{$key}/edit" class="btn btn-outline-warning btn-sm ml-1 mb-2">Editar</a>
								<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/{$key}/delete" class="btn btn-outline-danger btn-sm ml-1 mb-2" onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
				<br />
				<a href="{#APP_URL_ROOT#}dev/repository/{$repository}/0/edit" class="btn btn-outline-success float-right" title="Clique para cadastrar um novo registro">CADASTRAR</a>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
</section>
<style>

</style>
<script>
	$(document).ready(function() {
		$('table.table').bootstrapTable();
	});
</script>
{include="../_general/footer"} {include="../_general/close"}
