{include="_general/open"} {include="_general/header/header"}
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0">{include="_general/_section_top"}</div>
	<div class="container">
		<div class="row mb-4">
			<div class="col-12">
				<a href="/dev/repository" title="Clique para visualizar os repositórios do sistema." class="clean"><h1>Repositório do Sistema</h1></a>
				<a href="/dev/repository/{$repository}" title="Clique para visualizar o repositório completo." class="clean"><h2>{$repositoryNameShow}</h2></a>
			</div>
		</div>
		<div class="row pl-1">
			<div class="col-12">
				<form method="post">
					<input type="hidden" name="id" id="id" value="{$register.id}"/>					
					<table class="table table-bordered table-striped table-hover">
						<tbody>
							{loop="$register"}
								{if="$key!='id'"}
								<tr>
									<td scope="row" class="coluna" style="vertical-align: top;">{function="strtoupper($key)"}:</td>
									<td scope="row" class="valor">
										{if="substr($key,-3)=='_id'"}
											{autoescape="off"}
											{$value}
											{/autoescape}
										{else} 
											<textarea name="{$key}" id="{$key}" rows="3" style="width: 100%" class="form-control">{$value}</textarea>
										{/if}
																												
									</td>
								</tr>
								{/if}							
							{/loop}
						</tbody>
					</table>
					<br />
					<a href="javascript:history.back(0);" class='btn btn-outline-dark float-right ml-2'>CANCELAR</a>
					<input type="submit" class="btn btn-outline-success float-right ml-2" value="SALVAR" />
				</form>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</section>
<style>
table.table td {
	padding: 10px 30px 10px 20px;
}

table.table td.coluna {
	font-weight: bold;
	width: 100px;
}

table.table td.valor {
	
}
</style>
<script>
	$(document).ready(function() {
		$('table.table').bootstrapTable();
	});
</script>
{include="_general/_footer/footer"} {include="_general/close"}
