{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Novo Usuário</h2>
			</div>
		</div>
		<form action="/dev/user/create" method="post" class="mr-auto ml-auto">
			<div class="row">
				<div class="col-6">
					<label for="name">Nome</label>
					<input type="text" id="name" name="name" placeholder="Digite o name" value="{$temp}" class="form-control">
				</div>
				<div class="col-2">
					<label for="login">Login</label>
					<input type="text" id="login" name="login" placeholder="Digite o login" value="{$temp}" class="form-control">
				</div>
				<div class="col-4"></div>
				<div class="col-4">
					<label for="email">E-mail</label>
					<input type="email" id="email" name="email" placeholder="Digite o e-mail" value="{$temp}@teste.com" class="form-control">
				</div>
				<div class="col-4">
					<label for="phone">Telefone</label>
					<input type="tel" class="form-control" id="phone" name="phone" placeholder="Digite o telefone aqui" value="{$temp}">
				</div>
				<div class="col-4"></div>
				<div class="col-2">
					<label for="password">Senha</label>
					<input type="password" id="password" name="password" placeholder="Digite a senha" value="{$temp}" class="form-control">
				</div>
				<div class="col-3">
					<label for="adminzoneaccess">Acesso de Administrador</label>
					<select name="adminzoneaccess" id="adminzoneaccess" class="form-control">
						{loop="$adminzoneaccess"}
						<option value="{$key}">{$value}</option>
						{/loop}
					</select>
				</div>
				<div class="col-3">
					<label for="devzoneaccess">Acesso de Desenvolvedor</label>
					<select name="devzoneaccess" id="devzoneaccess" class="form-control">
						{loop="$devzoneaccess"}
						<option value="{$key}">{$value}</option>
						{/loop}
					</select>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-8 text-right">
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
			</div>			
		</form>
	</div>
</section>
<style>
form .row > div{
margin-top: 20px;
}
</style>
<script>
$(document).ready(function(){
	
});
</script>
{include="../_general/footer"} {include="../_general/close"}



