{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section id="users">
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<h2>Lista de Usuários</h2>
				<h4>(temporário - em desenvolvimento)</h4>

			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form method="post">
					<textarea id="users" name="users">{$users}</textarea>
					<br />
					<input type="submit" value="SALVAR" class="btn btn-success float-right">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-12">				
				<label for="password">Password Help!</label>
				<input type="text" id="password" value="" style="font-size: 12px; width: 25%;" class="form-control mb-2" onkeyup="encrypt()">
				<div id="result" style="font-size: 12px; cursor: pointer;" title="Clique para copiar o conteudo!" class="mb-2" onclick="CopyToClipboard('result')"></div>				
				<input type="button" class="btn btn-sm btn-primary d-none" value="Encrypt" onclick="encrypt()" />
			</div>
		</div>

	</div>

</section>
<style>
#users {
	
}

#users textarea {
	width: 100%;
	padding: 10px;
	font-size: 12px;
	height: 200px;
	overflow: visible;
	font-family: monospace;
}
</style>
<script>
	function encrypt() {
		p = $('#password').val();

		$.post('{#APP_URL_ROOT#}dev/users/encrypt', {
			'password' : p
		}, function(data) {
			$('#result').html(data);
		});
	}

	$(document).ready(function() {
		$('#password').click(function(){ 
			$(this).val('');
		});
		
	});
</script>
{include="../_general/footer"} {include="../_general/close"}
