{include="../_general/open"} {include="../_general/header"} {include="../_general/info"}
<section>
	<script>
		$(document).ready(function() {

		});
	</script>
	<!--info_oldPlace-->
	<div class="container usuarios">
		<h2>Lista de Usuários</h2>
		<br />
		<a href="{#APP_URL_ROOT#}dev/user/create" class='btn btn-success btn-sm float-right'>Cadastrar Usuário</a>
		<br />
		<br />
		<table class='table table-bordered table-striped table-hover' data-sort-name="id" data-sort-order="asc" data-pagination="true" data-search="true">
			<thead class='thead-light'>
				<tr scope="col">
					<th data-sortable="true" data-field="id">#</th>
					<th data-sortable="true" data-field="nome">Nome</th>
					<th data-sortable="true" data-field="login">Login</th>
					<th data-sortable="true" data-field="email">E-mail</th>
					<th data-sortable="true" data-field="adminzoneaccess">Administrador</th>
					<th data-sortable="true" data-field="devzoneaccess">Desenvolvedor</th>
					<th data-sortable="false">Opções</th>
				</tr>
			</thead>
			<tbody>
				{loop="$users"}
				<tr scope="row">
					<td>{$value->getid()}</td>
					<td>{$value->getname()}</td>
					<td>{$value->getlogin()}</td/>
					<td>{$value->getemail()}</td>
					<td>{if="$value->checkProfile('admin') == TRUE"}Sim{else}Não{/if}</td>
					<td>{if="$value->checkProfile('dev') == TRUE"}Sim{else}Não{/if}</td>
					<td>
						<a href="{#APP_URL_ROOT#}dev/user/{$value->getid()}" class='btn btn-sm btn-success mb-2 mr-2'>Visualizar</a>
						<a href="{#APP_URL_ROOT#}dev/user/{$value->getid()}/edit" class='btn btn-sm btn-warning mb-2 mr-2'>Editar</a>
						<a href="{#APP_URL_ROOT#}dev/user/{$value->getid()}/delete" class='btn btn-sm btn-danger mb-2 mr-2' onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</section>
<style>
</style>
<script>
	$(document).ready(function() {
		$('table').bootstrapTable();

		setTimeout(function() {
			$('table th').css({
				'padding' : '5px',
				'text-align' : 'center',
			});

			$('table td').css({
				'padding' : '10px 15px 10px 15px',
				'text-align' : 'center',
			});

		}, 200);
	});
</script>
{include="../_general/footer"} {include="../_general/close"}
