{include="../_general/open"} {include="../_general/header"}
<section>
	<div class="container mt-0 mb-0 pt-0 pb-0">{include="../_general/info"}</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Registros do Sistema</h1>
				<h2>
					<a href="/dev/log/ano/{$ano_ant}" class="clean" title="Clique para acessar o ano anterior">&#8678;</a>
					{$ano}
					<a href="/dev/log/ano/{$ano_post}" class="clean" title="Clique para acessar o ano posterior">&#8680;</a>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">{autoescape="off"} {$calendario} {/autoescape}</div>
		</div>
	</div>
</section>
<style>
.mes {
	float: left;
	margin-right: 20px;
	margin-bottom: 50px;
}

.mes * {
	margin: 0;
	padding: 0;
}

.mes th, td {
	vertical-align: bottom;
}

.mes thead {
	
}

.mes thead * {
	
}

.mes thead th {
	text-align: center;
	padding: 2px 3px;
}

.mes thead th.nomedomes {
	font-size: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.mes thead th.diadasemana {
	font-size: 80%;
	background: #ccc;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-top: solid 1px #000;
}

.mes tbody * {
	
}

.mes tbody {
	border-top: solid 1px #000;
	border-left: solid 1px #000;
}

.mes tbody td {
	position: relative;
	vertical-align: top;
	padding: 2px 3px;
}

.mes tbody td.dia {
	width: 50px;
	height: 50px;
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	text-align: right;
}

.mes tbody td.dia div.numero {
	text-align: right;
	width: 100%;
	font-size: 60%;
}

.mes tbody td.dia div.conteudo {
	text-align: center;
	vertical-align: bottom;
	width: 100%;
	font-size: 100%;
	padding-top:5px;
	font-weight: bold;	
}
.mes tbody td.dia div.conteudo a{
	color: #f00;
}
.mes tbody td.dia div.conteudo a:hover{
	text-shadow: 0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
	color:#fff;
}

.mes tbody td.dia-vazio {
	background: #eee;
}

.mes tbody td.dia-feriado {
	background: #afa;
	cursor: pointer;
}
</style>
<script>
$(document).ready(function(){
	{autoescape="off"}
	{$js}
	{/autoescape}	
});
</script>

{include="../_general/footer"} {include="../_general/close"}
